@{
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="overlap">
                    <a href="~/Home/SmoothieInfo"><p><strong>Smothie Delight</strong></p></a>
                </div>
                <div class="overlap">
                    <a href="~/Home/SmoothieInfo"><p>Healthy and dellicious</p></a>
                </div>
                <div class="overlap">
                    <a href=#>
                        <p>
                            Every smoothie is an experience.
                            Make it count!
                        </p>
                    </a>
                </div>
                <div class="overlap">
                    <a href="https://www.prevention.com/food/smoothie-recipes-for-weight-loss"><p>Lose Weight.</p></a>
                </div>
                <div class="overlap">
                    <a href="http://www.mensfitness.com/nutrition/healthy-recipes/7-muscle-building-smoothie-recipes"><p>Add Muscle</p></a>
                </div>
                <div class="overlap">
                    <a href="#"><p>Stay Alert</p></a>
                </div>
                <div class="overlap">
                    <a href="~/User/New"><p>Sing up for our mailing list to get updates</p></a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="~/Content/smoothie.jpg" alt="smoothie image" width="450" height="350"/>
            </div>
        </div>
    </div>
</div>



