@{
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p><strong>Smothie Delight</strong></p></a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p>Healthy and dellicious</p></a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs">
                        <p>
                            Every smoothie is an experience.
                            Make it count!
                        </p>
                    </a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p>Lose Weight.</p></a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p>Add Muscle</p></a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p>Stay Alert</p></a>
                </div>
                <div class="overlap">
                    <a href="~/Controllers/HomeController.cs"><p>Sing up for our mailing list to get updates</p></a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="~/Content/smoothie.jpg" alt="smoothie image" width="375" height="400"/>
            </div>
        </div>
    </div>
</div>



