@{
    ViewBag.Title = "Home Page";
}
<div class="content">
    <div class="overlap">
        <a href="~/Controllers/HomeController.cs"><strong>Smothie Delight</strong></a>
    </div>
    <div class="overlap">
        <a href="~/Controllers/HomeController.cs">Healthy and dellicious</a>
    </div>
    <div class="overlap">
        <a href="~/Controllers/HomeController.cs">Every smoothie is an experience. 
        Make it count!</a>
    </div>
</div>

