
@{
    ViewBag.Title = "SmoothieInfo";
}


<div class="container">    
    <div class="row">
        <div class="col-md-9">
            <img src="~/Content/smoothie_3.jpg" alt="smoothie_image" width="750" height="300"/>            
        </div>
        <div class="col-md-3">
            <p id="smoothie_quote">
                No matter what it is you're looking for, you can probably find it at the bottom of a green smoothie glass. <br />
                ~Britt Brandon, The Everything Green Smoothies Book, 2011
            </p>
        </div>
        <div class="row">           
            <div class="col-md-6">
                <h2>Welcome To Smoothie Delight!</h2>
                <p class="smoothie_delight_description">
                    For hundreds of years Mediterranean and Eastern cultures have served pureed
                    fruit drinks that resemble what we call smoothies. It wasn’t until the invention
                    of the blender and home refrigerators in the 1900’s that thousands of
                    Americans began experiencing the joy of blended juices the
                    rest of the world and adventurous travelers had known for some time. <br>
                    Smoothie Delight - is a new exciting smoothie line of a premium food brand.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/Content/smoothie_4.jpg" alt="smoothie_image" width="400" height="400" />
            </div>
        </div>
    </div>
    <div class="row">
        <h2>Our Smoothie is not only Delicious but also Healthy!</h2>
        <div class="col-md-6">
            <p class="smoothie_delight_description">
                If you’ve ever whipped up a fresh smoothie for a quick breakfast
                or a healthy snack, you’ve probably used some combination of ingredients
                that included: fruit, oats, dairy products or maple syrup.<br />
                The trouble with using these ingredients for a smoothie is in the nutrient breakdown.
                Between the excessive amounts of sugar and fat in many homemade or store-bought smoothies, you’re consuming a delicious
                frozen treat that’s on par with a few bags of candy.
                That doesn’t mean smoothies can’t be good for you. You just need to know
                which ingredients to include and which to limit. <br />
                With our Smoothie line you can be sure, that you recieve 100% healthy product!
            </p> 
        </div>
        <div class="col-md-6">
            <img src="~/Content/smoothie_2.jpg" alt="smoothie_image" width="400" height="400" />
        </div>
    </div>
</div>
@Html.ActionLink("Go back", "Index")
